<h1>Dashboard</h1>
<ul id="dashboard_navigation">
  <li>
    <%= link_to customers_path do %>
      <%= customers_icon %>
      Customers
    <%- end -%>
  </li>
  <li>
    <%= link_to orders_path do %>
      <%= orders_icon %>
      Orders
    <%- end -%>
  </li>
  <li>
    <%= link_to menu_items_path do %>
      <%= menu_items_icon %>
      Menu Items
    <%- end -%>
  </li>
</ul>
