<!DOCTYPE html>
<html>
  <head>
    <title>TonysPizza</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header>
      <section class="content">
        <%= link_to root_path do -%>
            <%= image_tag "TonysLogo.png" %>
          <h1>
            Catering Department
          </h1>
        <% end -%>
        <% unless controller_name == 'welcome' %>
          <nav>
            <%= link_to "Customers", customers_path %>
            <%= link_to "Menu", menu_items_path %>
            <%= link_to "Orders", orders_path %>
          </nav>
        <% end -%>
      </section>
    </header>
    <section class="content-wrapper">
      <section id="content" class="content">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>
        <%= yield %>
      </section>
    </section>
  </body>
</html>
